name: Deploy to GitHub Pages

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v2
    
    - name: Настройка Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '20'
    
    - name: Установка зависимостей
      run: npm install
      
    - name: Запуск линтера
      run: npm run lint
      
    - name: Сборка проекта
      run: npm run build
      
    - name: Деплой на GitHub Pages
      uses: JamesIves/github-pages-deploy-action@4.1.4
      with:
        branch: gh-pages
        folder: dist